body {
    background-color: #120801;
}
#clickme {
    position: absolute;
    width: 200px;
    height: 50px;
    left: calc(50% - 100px);
    bottom: 50px;
    font-size: large;
}
#result {
    background-color: #242424;
    width: 1280px;
    height: 720px;
    border-radius: 10px;
    position: absolute;
    left: calc(50% - calc(1280px / 2));
    top: calc(calc(50% - calc(720px / 2)) - 50px);
}
#authBox {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 20px;
    top: 20px;
}
#authenticate {
    position: absolute;
    width: 100%;
    height: 100%;
}
#authenticate img {
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    filter: brightness(0);
    position: absolute;
}
#prompt {
    width: 90%;
    height: 50px;
    left: calc(50% - 90% / 2);
    bottom: 115px;
    position: absolute;
    font-size: larger;
}